@model EfCore.Models.User

@{
    ViewData["Title"] = "Kullanıcı Ekle";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="Name">Adı</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
